{% extends 'base.html' %}
{% block title %}Alterar dados{% endblock %}
{% block content %}
    <h1>Alterar dados</h1>
    <form onsubmit="return false">
    <div>
        <input type="text" id="nome-update" name="email" placeholder="Email:" value=>
    </div>
    <div>
        <input type="email" id="email-update" name="email" placeholder="Email:" value="email@alterado">
    </div>
    <div>
        <input type="password" id="senha-update" name="senha" placeholder="Senha:" value="12345678">
    </div>
    <button id="btAtualizarProf">Alterar</button>
    <button id="btcancelar">Cancelar</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/prof.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/login.js')}}" type="text/javascript"></script>
{% endblock %}