{% extends 'base.html' %}
{% block title %}Avalição{% endblock %}
{% block content %}
<div class="container-fluid row">
    <h1 id="desc_av"></h1>
    <div id="div-tabelas" class="col-sm-9">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Data início</th>
                    <th>Data final</th>
                    <th>Turmas</th>
                    <th>Arquivo</th>
                </tr>
            </thead>
            <tbody id="tabelaAv">
            </tbody>
        </table>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Aluno</th>
                    <th>Resposta</th>
                </tr>
            </thead>
            <tbody id="tabelaRespostas">
            </tbody>
        </table>
    </div>
    <div id="div-buttons" class="col-sm-3" style="align-content: center;">
            <button id="editar_av" class="btn btn-primary mb-2 w-100 " style="display: block;">Editar</button>
            <button id="excluir_av" class="btn btn-primary mb-2 w-100" style="display: block;">Excluir</button>
            <button id="gerar_pdf" class="btn btn-primary mb-2 w-100" style="display: block;">Gerar PDF</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/av.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/listar_av.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/logout.js')}}" type="text/javascript"></script>
{% endblock %}