{% extends 'base.html' %}
{% block title %}Cadastro Avaliação{% endblock %}
{% block content %}
	<h1>Cadastro Avaliação</h1>
	<form onsubmit="return false" enctype="multipart/form-data">
		<input type="text"  id="campoDescricao" required autofocus placeholder="Decrição:" value="prova"><br>
		<input type="datetime-local" id="campoDataInicio" required placeholder="Data início:" value="hj"><br>
		<input type="datetime-local" id="campoDataFim" placeholder="Data término:" value="amn"><br>
		<input type="text" id="campoTurmas" placeholder="Turmas id" value="1, 2"><br>
		<input type="file" id="campoArquivo" accept=".txt, .pdf, .doc, .docx" multiple><br><br>
		<button id="btCadastrarAV"  type="submit" >Cadastrar</button>
	</form>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/av.js')}}" type="text/javascript"></script>
{% endblock %}
	
