{% extends 'base.html' %}
{% block title %}Cadastro Avaliação{% endblock %}
{% block content %}
<div class="container">
	<h1>Cadastro Avaliação</h1>
	<form onsubmit="return false" enctype="multipart/form-data" id="form_av">

		<div class="form-group mb-2">
			<label for="campoDescricao">Nome da Avaliação:</label>
			<input type="text" value="av2" id="campoDescricao" class="form-control" required autofocus
				placeholder="Nome">
		</div>
		<div class="row">
			<div class="form-group mb-2 col">
				<label for="campoDataInicio">Data de início:</label>
				<input type="datetime-local" id="campoDataInicio" class="form-control" required>
			</div>
			<div class="form-group mb-2 col">
				<label for="campoDataFim">Data limite:</label>
				<input type="datetime-local" id="campoDataFim" class="form-control">
			</div>
		</div>
		<div class="form-group mb-2" id="turmas">
			<label>Turmas:</label><br>
		</div>
		<div class="form-group mb-2">
			<label for="campoArquivo">Arquivo:</label>
			<input id="arqs" type="file" class="form-control" name="arqs" accept=".txt, .pdf, .doc, .docx" multiple>
			<small id="ajudaArquivo" class="form-text text-muted">Aqui você pode adicionar um arquivo com suas
				perguntas.</small>
		</div>

		<button id="btCadastrarAV" type="submit" class="btn btn-primary">Cadastrar</button>
	</form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/av.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/logout.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/op_turmas.js')}}" type="text/javascript"></script>
{% endblock %}