{% extends 'base.html' %}
{% block title %}Editar Turma{% endblock %}
{% block content %}
<form onsubmit="return false">
    <div>
        <input type="text" id="nome-update" name="email" placeholder="Email:">
    </div>
    <div>
        <textarea name="alunos" id="alunos-update" placeholder="Lista de alunos:"></textarea>
    </div>
    <button id="btAtualizarTurma">Alterar</button>
    <button id="btcancelar">Cancelar</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/updateTurma.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/login.js')}}" type="text/javascript"></script>
{% endblock %}
