{% extends 'base.html' %}
{% block title %}Excluir Avaliação{% endblock %}
{% block content %}

<h3>Minhas Avaliações</h3>
    <table>
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Data Início</th>
                <th scope="col">Data Final</th>
                <th scope="col">Turma</th>
            </tr>
        </thead>
        <tbody id="corpoTabelaAvs">
        </tbody>
    </table>

{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/listar.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/logout.js')}}" type="text/javascript"></script>
{% endblock %}
