{% extends 'base.html' %}
{% block title %}Excluir Usuário{% endblock %}
{% block content %}
    <h1>Você tem certeza que deseja excluir sua conta? </h1>
    <p>Caso faça todos os seus dados serão perdidos</p>
    <button id="excluirConta">Excluir</button>
    <button><a href="/render_usuario">Cancelar</a></button>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/prof.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/logout.js')}}" type="text/javascript"></script>
{% endblock %}


