{% extends 'base.html' %}
{% block title %}Excluir Turma{% endblock %}
{% block content %}
<h3>Minhas Turmas</h3>
    <table>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Alunos</th>
                <th>Op</th>
            </tr>
        </thead>
        <tbody id="tabelaTurmas">
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/listar.js')}}" type="text/javascript"></script>
{% endblock %}

